Source: nasc
Section: misc
Priority: optional
Maintainer: Djax <parnold1@gmail.com>
Build-Depends: cmake (>= 2.8),
               debhelper (>= 9),
               libgcc1 (>= 1:4.1.1),
               libqalculate-dev,
               libgee-0.8-dev,
               libsoup2.4-dev,
               libglib2.0-dev (>= 2.29.0),
               libgranite-dev (>= 0.3.0),
               libgtk-3-dev (>=3.12),             
               libgtksourceview-3.0-dev (>=3.10),
               valac
Standards-Version: 3.9.3

Package: nasc
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: dpkg (>= 1.15.6)
Description: Its an app where you do maths like a normal person. It lets you type whatever you want and smartly figures out what is math and spits out an answer on the right pane. Then you can plug those answers in to future equations and if that answer changes, so does the equations its used in.