[Desktop Entry]
Name=NaSC
GenericName=Desktop calculator
Comment=Do maths like a normal person
Categories=Utility;Calculator;Education;Math;
Exec=com.github.parnold-x.nasc
Icon=com.github.parnold-x.nasc
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.parnold-x.nasc
