[Desktop Entry]
Type=Application
Name=NaSC
Comment=Do maths like a normal person
GenericName=NaSC
TryExec=nasc
Exec=nasc
Icon=com.github.parnold-x.nasc
Terminal=false
Categories=Utility;Calculator;Education;
Actions=AboutDialog;

[Desktop Action AboutDialog]
Name=About NaSC
Exec=nasc --about
