[Desktop Entry]
Type=Application
Name=NaSC
Comment=Do maths like a normal person
GenericName=NaSC
TryExec=com.github.parnold-x.nasc
Exec=com.github.parnold-x.nasc
Icon=com.github.parnold-x.nasc
Terminal=false
Categories=Utility;Calculator;Education;Science;
Actions=AboutDialog;

[Desktop Action AboutDialog]
Name=About NaSC
Exec=com.github.parnold-x.nasc --about
